<header id="navigation" class="navigation">
  <div class="logo">
    <a href="{{ path('home') }}">Nature<span class="logoNombre">Walk</span></a>
  </div>
  <nav class="elementos">
    <ul>
      <li>
        <a href="{{ path('home') }}">Home</a>
      </li>
      <li>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}">ADMIN</a>
        {% endif %}
      </li>
      <li>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GUIA') %}
        <a href="{{ path('guia') }}">GUIA</a>
        {% endif %}
      </li>
      <li>
        <a href="{{ path('blog', { id: categoria.id }) }}">Blog</a>
      </li>
      <li>
        <a href="{{ path('contacto') }}">Contact</a>
      </li>
      <li class="idioma-nav">
        <a href="#">{{ 'Language'|trans }}</a>
        <div class="container__user">
          <ul>
            <div class="idiomas">
              {% set routeParams = app.request.query.all %}
              {% if app.request.attributes.get('id') is not null %}
                  {% set routeParams = routeParams|merge({'id': app.request.attributes.get('id')}) %}
              {% endif %}
              <li class="idioma">
                <img src="{{ asset('uploads/images/icons/en.png') }}" alt="en">
                <a href="{{ path(app.request.attributes.get('_route'), routeParams|merge({'_locale': 'en'})) }}">English</a>              
              </li>
              <li class="idioma">
                <img src="{{ asset('uploads/images/icons/fr.png') }}" alt="fr">
                <a href="{{ path(app.request.attributes.get('_route'), routeParams|merge({'_locale': 'fr'})) }}">Français</a>              
              </li>
            </div>
          </ul>
        </div>
      </li>
      {% if app.user %}
      <li>
        <div class="icon-nav">
          <img
            class="rounded-circle"
            src="{{ asset('uploads/images/avatars/' ~ app.user.avatar ~ '.jpg') }}"
            alt="avatar"
            style="width: 40px; height: 40px"
          />
          <a class="user__name">{{ app.user.nombre }}</a>
        </div>
        <div class="container__user">
          <ul>
            <div class="cuenta-reservas">
              <li>
                <a href="{{ path('cuenta', { id: app.user.id }) }}"
                  >My Account</a
                >
                <i class="fas fa-user"></i>
              </li>
              <hr />
              <li>
                <a href="{{ path('reservas') }}">My Bookings</a>
                <i class="fas fa-clipboard-list"></i>
              </li>
              <hr />
            </div>
            <li>
              <a href="{{ path('app_logout') }}" class="btn-danger mx-auto"
                >Log out</a
              >
            </li>
          </ul>
        </div>
      </li>
      {% else %}
      <li>
        <a>
          <i class="fa fa-user text-white me-5"></i>
        </a>
        <ul class="not-user">
          <div class="container">
            <form method="post" action="{{ path('app_login') }}">
              <div class="titulo-login">
                <h3>Log in</h3>
              </div>
              <div class="form-login">
                <input
                  type="email"
                  name="email"
                  id="inputEmail"
                  placeholder="E-Mail"
                  class="form-control"
                  autocomplete="off"
                  required
                  autofocus
                />
                <input
                  type="password"
                  name="password"
                  id="inputPassword"
                  placeholder="Contraseña"
                  class="form-control"
                  autocomplete="current-password"
                  required
                />
                <input
                  type="hidden"
                  name="_csrf_token"
                  value="{{ csrf_token('authenticate') }}"
                />
                <div class="under-login">
                  <div class="checkbox-login">
                    <label>
                      <input type="checkbox" name="_remember_me" />
                      Remember me
                    </label>
                    <small>
                      <a href="{{ path('app_forgot_password_request') }}"
                        >I forgot my password</a
                      >
                    </small>
                  </div>
                  <div class="button-login">
                    <button class="btn-primary" type="submit">Log in</button>
                    <a>Don't have an account?</a>
                    <a
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#registro"
                      >Register here</a
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </ul>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="menu-btn">
    <i class="fa fa-bars"></i>
  </div>
  <div class="close-btn">
    <i class="fa fa-times"></i>
  </div>
  <div class="menu-mobile">
    <ul class="menu-items">
      {% if app.user %}
      <li class="item">
        <div class="profile">
          <div class="image">
            <img
              src="{{ asset('uploads/images/avatars/' ~ app.user.avatar ~ '.jpg') }}"
              alt="avatar"
            />
          </div>
          <div class="name">
            <span>{{ app.user.nombre }}</span>
          </div>
        </div>
      </li>
      <div class="item-separator"></div>
      <li class="item">
        <a href="{{ path('home') }}">
          <div class="icon">
            <i class="fas fa-home"></i>
          </div>
          <div class="title">Ho<span>me</span></div>
        </a>
      </li>
      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GUIA') %} {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('admin') }}">
          <div class="icon">
            <i class="fas fa-user"></i>
          </div>
          <div class="title">Ad<span>min</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('guia') }}">
          <div class="icon">
            <i class="fas fa-flag"></i>
          </div>
          <div class="title">Gu<span>ia</span></div>
        </a>
      </li>
      {% endif %} {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('blog', { id: categoria.id }) }}">
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="title">Bl<span>og</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('contacto') }}">
          <div class="icon">
            <i class="fas fa-comments"></i>
          </div>
          <div class="title">Con<span>tact</span></div>
        </a>
      </li>
      <li class="item">
        <a href="#" class="language-toggle">
          <div class="icon">
            <i class="fas fa-language"></i>
          </div>
          <div class="title">Lan<span>guage</span> <i class="fas fa-chevron-down chevron-custom"></i></div>
        </a>
        <ul class="idioma-submenu language-dropdown">
          {% set routeParams = app.request.query.all %}
          {% if app.request.attributes.get('id') is not null %}
              {% set routeParams = routeParams|merge({'id': app.request.attributes.get('id')}) %}
          {% endif %}
          <li>
              <a class="idioma-link" href="{{ path(app.request.attributes.get('_route'), routeParams|merge({'_locale': 'en'})) }}">
                  <img src="{{ asset('uploads/images/icons/en.png') }}" alt="en" class="flag-icon"><span class="ms-3">English</span>
              </a>
          </li>
          <li>
              <a class="idioma-link" href="{{ path(app.request.attributes.get('_route'), routeParams|merge({'_locale': 'fr'})) }}">
                  <img src="{{ asset('uploads/images/icons/fr.png') }}" alt="fr" class="flag-icon"><span class="ms-3">Français</span>
              </a>
          </li>
        </ul>
      </li>
      <li class="item">
        <a href="{{ path('cuenta', { id: app.user.id }) }}">
          <div class="icon">
            <i class="fas fa-fingerprint"></i>
          </div>
          <div class="title">My Acc<span>ount</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('reservas') }}">
          <div class="icon">
            <i class="fas fa-clipboard-list"></i>
          </div>
          <div class="title">My Boo<span>kings</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('app_logout') }}">
          <div class="icon"><i class="fas fa-globe"></i></div>
          <div class="title">Lo<span>g Out</span></div>
        </a>
      </li>
      {% else %}
      <li class="item">
        <a href="{{ path('home') }}">
          <div class="icon"><i class="fas fa-home"></i></div>
          <div class="title">Lo<span>g in</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('blog', { id: categoria.id }) }}">
          <div class="icon"><i class="fas fa-book"></i></div>
          <div class="title">Bl<span>og</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('contacto') }}">
          <div class="icon"><i class="fas fa-book"></i></div>
          <div class="title">Co<span>ntact</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('app_login') }}">
          <div class="icon"><i class="fas fa-user"></i></div>
          <div class="title">Lo<span>g in</span></div>
        </a>
      </li>
      {#
      <div class="item-separator"></div>
      #}
      <li class="item">
        <a href="{{ path('registro_tratar') }}">
          <div class="icon"><i class="fas fa-clipboard"></i></div>
          <div class="title">Regi<span>stration</span></div>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div
    class="modal fade"
    id="registro"
    tabindex="-1"
    aria-labelledby="inscriptionLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div
          class="modal-body border border-primary rounded m-0 p-2 text-black"
        >
          <div class="p-3">
            {{
              render(
                controller(
                  "App\\Controller\\RegistrationController::agregarRegistro"
                )
              )
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% block javascripts %}
{{ encore_entry_script_tags("menu") }}
{{ encore_entry_script_tags("avatars") }}
{% endblock %}
