{% extends 'base.html.twig' %}

{% block title %} Let's walk {% endblock %}

{% block nav %}
    {% include '_partials/_menu_nav.html.twig' %}
{% endblock %}

{% block body %}
<section class="hero">
    <div class="hero-background">
        <div class="hero-content">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center w-50 mx-auto my-2">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            <h3 class="animation text-white fs-2">{{ 'Welcome to our site !'|trans }}</h3>
            <p class="animation text-white fs-3">
                {{ 'Join us and discover cool towns and beautiful places full of life and nature'|trans }}
            </p>
        </div>
    </div>
</section>

<div class="servicios">
    <div class="titulo__servicios">
        <h2>{{ 'Enjoy the experience'|trans }}</h2>
    </div>
    <div class="cards">
        {% for item in tours %}
            {% if item.isEstado %}
                <article class="card">
                    <img src="{{ asset('uploads/images/' ~ item.imagen) }}" alt="{{ item.titulo }}" />
                    <div class="content card-text">
                        <h4>{{ item.titulo }}</h4>
                        <div class="hidden-elements">
                            {% if item.precio == 0 %}
                                <h5>{{ 'Price: '|trans }} <span>Free Tour</span></h5>
                            {% else %}
                                <h5>{{ 'Price: '|trans }} {{ (item.precio / 100)|number_format(2, '.', ',') }} €</h5>
                            {% endif %}
                            <div class="card-btn">
                                <a href="{{ path('tour', { id: item.id }) }}" class="btn-tertiary-card">
                                    {{ 'More information'|trans }}
                                </a>
                                {% if app.user %}
                                    <a href="{{ path('show', { id: item.id }) }}" class="btn-primary-card">
                                        {{ 'Book now'|trans }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_login') }}" class="btn-primary-card">
                                        {{ 'Book now'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('menu') }}
    {{ encore_entry_script_tags('cookies') }}
    {# {{ encore_entry_script_tags('avatars') }} #}
{% endblock %}
