{% extends 'base.html.twig' %}

{% block title %}{{ 'Validated'|trans }}{% endblock %}

{% block body %}
    <div id="main-container" class="container my-5">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center w-50 mx-auto my-2">
                <p>{{ message }}</p>
            </div>
        {% endfor %}

            <h2 class="titulo__reservas text-center w-100 mb-3">{{ 'Booking Details'|trans }}</h2>

        {% for tour in reserva.tours %}
            <div class="reserva-container">
                <img
                    src="{{ asset('uploads/images/' ~ tour.imagen) }}"
                    alt="{{ tour.titulo }}"
                    width="350px"
                    height="280px"
                />

                {% if app.user.reservas is not empty %}
                    <div class="detalles-reserva">
                        <ul>
                            <h3 class="titulo-validar">{{ tour.titulo }}</h3>
                            <li>
                                <p class="card-title">{{ 'Booking'|trans }} N°. : {{ reserva.referencia }}</p>
                            </li>

                            {% if reserva.detallesReserva is not null %}
                                <li>
                                    <p class="card-title">
                                        {{ 'Tour date'|trans }} : {{ reserva.detallesReserva.fechaEvento|date('d/m/y') }}
                                    </p>
                                </li>
                                <li>
                                    <p class="card-title">{{ 'Adults'|trans }} : {{ reserva.detallesReserva.cantidadAdultos }}</p>
                                </li>
                                <li>
                                    <p class="card-title">{{ 'Kids'|trans }} : {{ reserva.detallesReserva.cantidadKids }}</p>
                                </li>

                                {% if reserva.detallesReserva.totalReserva == 0 %}
                                    <li>
                                        <p class="card-title">Total: Free Tour</p>
                                    </li>
                                    <li>
                                        <div class="button">
                                            <a href="{{ path('reservas') }}" class="btn-tertiary me-3">{{ 'See my bookings'|trans }}</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li>
                                        <p class="card-title">
                                            Total: {{ (reserva.detallesReserva.totalReserva/100)|number_format(2, '.') }} €
                                        </p>
                                    </li>
                                    {% if tour.precio != 0 %}
                                        <div class="button">
                                            <a href="#" class="btn-primary me-3">{{ 'Proceed to payment'|trans }}</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <li>
                                    <p class="card-title">{{ 'Booking details not available.'|trans }}</p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% else %}
                    <p>{{ 'No bookings available.'|trans }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
