{% extends 'base.html.twig' %} {% block title %} Contact us {% endblock %} {% block
body %}
<div id="main-container" class="container my-5">
  {% for message in app.flashes('success') %}
  <div class="alert alert-success text-center w-50 mx-auto my-2">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  <h2 class="titulo__contacto text-center w-100 mb-5">
    Contact us
  </h2>
  <div class="container">
    {{ form_start(form, { action: path("contacto") }) }}
    <div class="row mx-3">
      <div class="col-md-6">
        {{ form_row(form.nombre) }}
      </div>
      <div class="col-md-6">
        {{ form_row(form.email) }}
      </div>
      <div class="col-md-12">
        {{ form_row(form.mensaje) }}
      </div>

      <button type="submit" class="btn-primary col-md-6 mx-auto mt-3">
        Send
      </button>

      {{ form_end(form) }}
    </div>
    {# {% if app.user %} {% include 'app/_side_menu.html.twig' %} {% endif %} #}
  </div>
</div>
{% endblock %}
