{% extends 'base.html.twig' %} {% block title %} My Bookings {% endblock %} {%
block header %} {% include '_partials/_menu2_nav.html.twig' %} {% endblock %} {%
block body %}
<div id="main-container" class="reservas my-5">
  {% for message in app.flashes('info') %}
      <div class="alert alert-info text-center w-50 mx-auto my-2">
        <p>{{ message }}</p>
      </div>
      {% endfor %}
  <h2 class="titulo__reservas text-center w-100 mb-3">My Bookings</h2>

  {% if app.user.reservas is not empty %}
  <div class="cards__reservas">
    {% for reserva in app.user.reservas %} {% for tour in reserva.tours %}
    <article class="card__reservas">
      <img src="{{ asset('uploads/images/' ~ tour.imagen) }}" alt="" />
      <div class="reservas-detalles">
        <ul>
          <li><h2>{{ tour.titulo }}</h2></li>
          {% if reserva.detallesReserva is not null %}
          <li>
            Price: {% if reserva.detallesReserva.totalReserva == 0 %} Free Tour
            {% else %}
            {{ reserva.detallesReserva.totalReserva/100|number_format(2, '.') }}
            € {% endif %}
          </li>
          <li>
            Date: {{ reserva.evento.fechaEvento|date("d/m/Y") }}
          </li>
          <li>
            Adults: {{ reserva.detallesReserva.cantidadAdultos }}
          </li>
          <li>Kids: {{ reserva.detallesReserva.cantidadKids }}</li>
          <li>
            <a
              href="{{ path('editar', { id: reserva.id }) }}"
              type="button"
              class="btn-tertiary"
            >
              Modify booking date
            </a>
          </li>
          <li>
            <a
              href="{{ path('delete_reserva', { id: reserva.id }) }}"
              type="button"
              class="btn-danger"
            >
              Cancel / Delete booking
            </a>
          </li>
          {% else %}
          <li>Booking details not available.</li>
          {% endif %}
        </ul>
      </div>
    </article>
    {% endfor %} {% endfor %}
  </div>
  {% else %}
  <div class="text-center mt-5">
    <h4>Come on, book your first tour with us and, let's walk !!!</h4>
    <a href="{{ path('home') }}" class="btn-primary">Volver a inicio</a>
  </div>
  {% endif %}
</div>
{% endblock %}
